@media (min-width: 700px) {
    #page-teacher-form {
        max-width: 100vw;
    }

    #page-teacher-form .page-header .header-content {
        margin-bottom: 0;
    }

    #page-teacher-form main fieldset {
        padding: 0 6.4rem;
    }

    #page-teacher-form main .schedule-item {
        display: grid;

        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
    }

    #page-teacher-form main footer {
        padding: 4.0rem 6.4rem;

        display: flex;

        align-items: center;
        justify-content: space-between;
    }

    #page-teacher-form main footer p {
        justify-content: space-between;
    }

    #page-teacher-form main footer button[type=button] {
        width: 20rem;

        margin-top: 0;
    }
}