@media (min-width: 700px) {
    .teacher-item header,
    .teacher-item footer {
        padding: 3.2rem;
    }

    .teacher-item > p {
        padding: 0 3.2rem;
    }

    .teacher-item footer p strong {
        display: initial;

        margin-left: 1.6rem;
    }

    .teacher-item footer a {
        width: 24.5rem;

        font-size: 1.6rem;

        justify-content: center;
    }

    .teacher-item footer a img {
        margin-right: 1.6rem;
    }
}